<ul>
  <li *ngFor="let comment of comments">
    {{comment.name}} - {{comment.content}}
  </li>
</ul>

<input type="text" name="name" #name>
<textarea name="content" rows="8" cols="80" #content></textarea>

<button type="button" name="button" (click)="addComment(name.value, content.value)">add comment</button>
